META_ACCESS_TOKEN=masukkan_token_anda
META_AD_ACCOUNT_ID=act_123456789
META_APP_ID=1752955589359736
META_APP_SECRET=masukkan_app_secret

# Konfigurasi kampanye
CAMPAIGN_NAME=Kampanye Batik
DAILY_BUDGET=150000
PRODUCT_LINK=https://shopee.co.id/
PRODUCT_IMAGE_URL=https://contoh.com/gambar-batik.jpg
PRODUCT_NAME=Batik Khas Nusantara
CAMPAIGN_STATUS=PAUSED
